*{
    text-align: center;
    color: SaddleBrown;
    margin : 0;
    font-size: 20
}

.logo{
    width: 500px;
    padding-top: 1%;
}

header{
    float: left;
    background-color: floralwhite;
    width: 100%
}

nav{
    float: left;
    background-color: saddlebrown;
    margin: 1%;
    padding: 1%;
    width: 96%;
    color: floralwhite;
}

.lien{
    color: floralwhite
}

.connexion{
    float: left;
    font-size: 50%;
    padding: 0.5%;
    padding-left: 2%;
    padding-right: 2%;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
};

footer{
    background-color: floralwhite;
    width: 5%;
}